<!DOCTYPE html>
<html>
<head>
	<title>Sample App</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	<link rel="icon" type="image/png" href="dateej.png">

	<style type="text/css">
		table{
			font-size: 12px;
		}

		.error_message{
			font-size: 10px;
			color: red;
		}
	</style>

	<!--Angular JS-->
	<style> .ng-cloak { display: none !important; } </style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript">
		var INTEGER_REGEXP = /^-?\d+$/;
		
		angular
		.module('small_angular_app', [])
		.controller('GreetingController', ['$scope', function($scope) {
			$scope.update = function(user) {
				console.log(user);
			};
		}])
		.directive('integer', function() {
			return {
				require: 'ngModel',
				link: function(scope, elm, attrs, ctrl) {
					ctrl.$validators.integer = function(modelValue, viewValue) {
						if (ctrl.$isEmpty(modelValue)) {
							// consider empty models to be valid
							return true;
						}
						if (INTEGER_REGEXP.test(viewValue)) {
							// it is valid
							return true;
						}
						console.log(scope);
						// it is invalid
						return false;
					};
				}
			};
		});




	</script>
	<!--Angular JS-->

</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Greetings, TJ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
        	
            <ul class="navbar-nav mr-auto">
            	<!-- Left Navbar
                <li class="nav-item">
                    <a class="nav-link" href="#">Item</a>
                </li>
                Left Navbar -->
            </ul>
            <!-- Left Navbar -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Logout</a>
                </li>
            </ul>
            <!-- Left Navbar -->
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 20px;">
    	<div class="row">
    		<div class="col-md-4">
				<div class="card">
				  <div class="card-header">
				    Registration
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Creating a new account</h5>





				    <div ng-app="small_angular_app">
						<div ng-controller="GreetingController">





							<form name="registration_form" novalidate>
								<div class="form-group">
									<input name="names" type="text" class="form-control form-control-sm" placeholder="Names" ng-model="user.names" required="">
								    <div class="ng-cloak" ng-show="registration_form.$submitted || registration_form.names.$touched">
								      <div class="error_message" ng-show="registration_form.names.$error.required">Tell us your name.</div>
								    </div>
								</div>
								<div class="form-group">
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="user_gender" ng-model="user.user_gender" id="user_gender_male" value="male" required="">
									  <label class="form-check-label" for="user_gender_male"><small>Male</small></label>
									</div>
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="user_gender" ng-model="user.user_gender" id="user_gender_female" value="female" required="">
									  <label class="form-check-label" for="user_gender_female"><small>Female</small></label>
									</div>
								    <div class="ng-cloak" ng-show="registration_form.$submitted || registration_form.user_gender.$touched">
								      <div class="error_message" ng-show="registration_form.user_gender.$error.required">How can we greet you?</div>
								    </div>
								</div>
								<div class="form-group">
									<input name="user_email" ng-model="user.user_email" type="text" class="form-control form-control-sm" placeholder="Email" required="">
								    <div class="ng-cloak" ng-show="registration_form.$submitted || registration_form.user_email.$touched">
								      <div class="error_message" ng-show="registration_form.user_email.$error.required">Please input your email.</div>
								    </div>
								</div>
								<div class="form-group form-check">
									<input name="user_password_needed" ng-model="user.user_password_needed" type="checkbox" class="form-check-input form-control-sm">
									<label class="form-check-label" style="position: relative; top: -3px;"><small>Password needed</small></label>
								</div>
								<div class="form-group">
									<input name="user_password" ng-model="user.user_password" type="password" class="form-control form-control-sm" placeholder="Password" ng-required="user.user_password_needed">
								    <div class="ng-cloak" ng-show="registration_form.$submitted || registration_form.user_password.$touched">
								      <div class="error_message" ng-show="registration_form.user_password.$error.required">You need a password to access your account.</div>
								    </div>
								</div>
								<div class="form-group">
									<input name="user_password_confirmation" ng-model="user.user_password_confirmation" type="password" class="form-control form-control-sm" placeholder="Confirm Password" ng-required="user.user_password_needed">
								    <div class="ng-cloak" ng-show="registration_form.$submitted || registration_form.user_password_confirmation.$touched">
								      <div class="error_message" ng-show="registration_form.user_password_confirmation.$error.required">Please confirm your password.</div>
								    </div>
								</div>
								<div class="custom-file">
									<input name="user_picture" ng-model="user.user_picture" type="file" class="custom-file-input" id="customFile">
									<label class="custom-file-label form-control-sm" for="customFile">Choose file</label>
								    <div class="ng-cloak" ng-show="registration_form.$submitted || registration_form.user_picture.$touched">
								      <div class="error_message" ng-show="registration_form.user_picture.$error.required">Please upload a profile picture.</div>
								    </div>
								</div>
								<br>
								<br>
								<button type="submit" class="btn btn-primary float-right" ng-click="update(user)">Add</button>

							</form>
						</div>
				    </div>





				
					
				  </div>
				</div>
				<br>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>S3 Uploads</strong> Upload data straight to a bucket
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Validations</strong> Mandatory & Dependecies
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Same form</strong> For editing as well
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
    		</div>
    		<div class="col-md-4">


				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
						<div class="row">
							<div class="col-md-3">
								<img class="img-fluid rounded" src="dateej.png">
							</div>
							<div class="col-md-9">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">Abdoullah TAHRI JOUTI</h5>
									<small>3 days ago</small>
								</div>
								<p class="mb-1">I kill the birds for breakfast then saw them back again to fly tell other birds to come back someday.</p>
								<small>Abdoullah has 3 invited people.</small>
							</div>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Abdoullah TAHRI JOUTI</h5>
							<small>3 days ago</small>
						</div>
						<p class="mb-1">I kill the birds for breakfast then saw them back again to fly tell other birds to come back someday.</p>
						<small>Abdoullah has 3 invited people.</small>
					</a>
				</div>

				<br>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Dynamic</strong> Adds
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>On press</strong> shows the user's details on the form on the right
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<br>
				<p id="users_datatable_loading_text">Table loading ...</p>
				<table id="users_datatable" class="table table-striped" style="display: none;">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Names</th>
							<th scope="col">Email</th>
							<th scope="col">Mission</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Abdoullah</td>
							<td>tj.abdoullah@gmail.com</td>
							<td>An absolute bird killer and cow eater.</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Mandel Benterman</td>
							<td>mbenterman1@joomla.org</td>
							<td>et eros vestibulum ac est.</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Velma Barkus</td>
							<td>vbarkus2@vinaora.com</td>
							<td>cursus id turpis integer aliquet massa id lobortis convallis tortor risus dapibus augue vel accumsan tellus nisi eu orci mauris lacinia sapien quis libero nullam sit amet</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>Celesta Kerbler</td>
							<td>ckerbler3@mapy.cz</td>
							<td>porttitor lorem id ligula suspendisse ornare consequat lectus in est risus auctor sed tristique in tempus sit amet sem fusce consequat</td>
						</tr>
					</tbody>
			        <tfoot>
			            <tr>
							<th scope="col">#</th>
							<th scope="col">Names</th>
							<th scope="col">Email</th>
							<th scope="col">Mission</th>
			            </tr>
			        </tfoot>
				</table>
				<br>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Ajax</strong> Pagination calls
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Table Exports</strong> With different formats
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
    		</div>
    		<div class="col-md-4">

				    <h5 class="card-title">Gender percentage</h5>
					<div id="gender_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


				    <h5 class="card-title">Users with top referrals</h5>

					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Cras justo odio
							<span class="badge badge-primary badge-pill">14</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Dapibus ac facilisis in
							<span class="badge badge-primary badge-pill">2</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Morbi leo risus
							<span class="badge badge-primary badge-pill">1</span>
						</li>
					</ul>

					<br>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>Dynamic</strong> In case I add a user myself
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
    		</div>
    	</div>
    </div>




	<div class="app"></div>

	<!--Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!--Bootstrap-->

	<!--Meteor-->
	<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	<!--Meteor-->





	<!--Datatables & jQuery-->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<!--Datatables-->

	<script type="text/javascript">
		$(document).ready(function(){
    		$('#users_datatable').DataTable({
				"pageLength": 2
			});
			$('#users_datatable').fadeIn();
			$('#users_datatable_loading_text').hide();
		});
	</script>

	<!--HighCharts - Gender Chart-->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>


	<script type="text/javascript">


		$(document).ready(function(){
			Highcharts.chart('gender_chart', {
			    chart: {
			        plotBackgroundColor: null,
			        plotBorderWidth: 0,
			        plotShadow: false
			    },
			    title: {
			        text: 'Gender<br>shares',
			        align: 'center',
			        verticalAlign: 'middle',
			        y: 40
			    },
			    tooltip: {
			        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			    },
			    plotOptions: {
			        pie: {
			            dataLabels: {
			                enabled: true,
			                distance: -50,
			                style: {
			                    fontWeight: 'bold',
			                    color: 'white'
			                }
			            },
			            startAngle: -90,
			            endAngle: 90,
			            center: ['50%', '75%']
			        }
			    },
				credits:{
					enabled: false
				},
			    series: [{
			        type: 'pie',
			        name: 'Gender',
			        innerSize: '50%',
			        data: [
			            ['Male', 58.9],
			            ['Female', 13.29]
			        ]
			    }]
			});
		});
	</script>
	<!--HighCharts - Gender Chart-->


</body>
</html>